How to assign value to a variable:

In [1]:
x = 1

Most popular data types:
 * **int** -- integer: example 12
 * **float** -- floating point: example 3.1415
 * **string** -- a text in quotes: example: "I love my mom"
 * **list** -- a sequence of something, like todo list, or a shopping list, example:
   * syntax: square brackets, example: [1, 2, 3] # list contains 3 elements with 3 numbers in it
 * **tuple** -- immutable version of list, syntax: parentheses, example (1, 2, 3)
   * sometimes surrounding parentheses can be missed if comma symbol is used, example: 1, 2, 3,
 * **dictionary** -- maps key to value. Two syntax constructions available:
   * braces and "key: value, " inside, example: {"key1": "value1", "key2": "value2"}
   * dict(), example: dict(key1="value1", key2="value2")
 * **set** -- remember math lessons, it's a just list of unique values. Syntax: braces with elements inside, example: {1, 2, 3}

How to convert from float to int:

In [2]:
int(3.1415)

3

How to convert from int to float:

In [3]:
float(2)

2.0

Similarly, how to convert from a number type to string:

In [4]:
str(3.14159)

'3.14159'

Reverse conversion from string to float:

In [5]:
float("3.14159")

3.14159

How to glue together (concatenate) two (or more) strings and get one string:

In [6]:
"Mom " + "loves " + "me " + "too"

'Mom loves me too'

It's ok to contatenate strings with variables containing strings:

In [7]:
x = "loves"
y = "me"
"Mom " + x + " " + y + " too"

'Mom loves me too'

A way to concatenate list items to a string with a separator using join():

In [8]:
guys = ["Albert", "Anton", "Anna"]

# here we use comma+space string that will be used to glue together strings from the list
", ".join(guys)

'Albert, Anton, Anna'

How to access individual element of a list or a string:

In [9]:
mylist = [1, 2, 3, 4, 5]

# syntax: index of element surrounded with square brackets
# remember: first element has index 0!
# here we take fifth element
mylist[4]

5

Same syntax applies to strings:

In [10]:
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

# gets 6'th element of Latin alphabet
alphabet[5]

'F'

How to slice a chunk from a list:

In [11]:
mylist = [1, 2, 3, 4, 5]

# here we get a list starting from position 1 ending with position 3
mylist[1:4]

[2, 3, 4]

Same syntax to get a part of string:

In [12]:
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

# here we return letters of alphabet with indexes: 2, 3, 4
alphabet[2:5]

'CDE'

Negative indexes work just the same way, but from the end (works for lists and strings too):

In [13]:
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

# a letter before last
alphabet[-2]

'Y'

A slice can have a step:

In [14]:
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

# here we take every 4th letter of the alphabet
alphabet[::4]

'AEIMQUY'

We can combine start:stop:step

In [15]:
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

# here we take letters from 1st to 10th with step 4
alphabet[0:10:4]

'AEI'

Strings can be converted to lists like so:

In [16]:
list('Tanya')

['T', 'a', 'n', 'y', 'a']

But to convert from a list to string, list items must be concatenated:

In [17]:
# here we use empty string as a separator
''.join(['T', 'a', 'n', 'y', 'a'])

'Tanya'

Pythonic way to create sequence of numbers using range(start, stop) function:

In [18]:
# we must force convertion to list here because range() returns "a way how to produce a sequence", not sequence itself
# notice: stop position is not included in the resulting list
list(range(3, 9))

[3, 4, 5, 6, 7, 8]

range(start, stop, step) has optional 3rd parameter -- a step, here's how we can produce a list of odd numbers:

In [19]:
list(range(1, 9, 2))

[1, 3, 5, 7]

Comprehensions are one-line algorithms to create sequences. Just like range(), but you can code the rules yourself:

In [20]:
# squares of numbers from 1 to 10
[i ** 2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Additionaly we can provide a condition. Here's how we compute squares of odd numbers only:

In [21]:
# i % 2 returns remainder of division
# here, if remainder > 0, it makes "if" act if it's true
[i ** 2 for i in range(1, 11) if i % 2 > 0]

[1, 9, 25, 49, 81]

Actually the same effect we can achieve using just by using range()'s 3rd argument, but in reality condition can be much more complex.

You can't define 2 or more dimensional arrays in Python. It has no special syntax for this. But you can create lists of lists. Here we do it manually:

In [22]:
matrix_3x3 = [
    [0, 0, 0],
    [0, 0, 0],    
    [0, 0, 0],    
]

matrix_3x3

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

When you want to create a list of lists with known dimensions, use this code:

In [23]:
dim_x = 5
dim_y = 3

# here we create 3x5 matrix filled with zeros
empty_matrix_3x5 = [[0] * dim_x for i in range(dim_y)]
empty_matrix_3x5

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

Here I define a 5x5 matrix, where each element contains it's coordinate to use in the next paragraph. This is nested list comprehension, e.g. list comprehension inside of list comprehension:

In [24]:
dim_x = 5
dim_y = 5

order_matrix_3x5 = [[str(y) + "x" + str(x) for x in range(dim_x)] for y in range(dim_y)]
order_matrix_3x5

[['0x0', '0x1', '0x2', '0x3', '0x4'],
 ['1x0', '1x1', '1x2', '1x3', '1x4'],
 ['2x0', '2x1', '2x2', '2x3', '2x4'],
 ['3x0', '3x1', '3x2', '3x3', '3x4'],
 ['4x0', '4x1', '4x2', '4x3', '4x4']]

If we want to get a row with index 2 now (e.g. 3rd row starting with 0), we access the outer list first (remember ```order_matrix_3x5``` is a list 5 element long list, where each element contains another list with another 5 elements):

In [25]:
order_matrix_3x5[2]

['2x0', '2x1', '2x2', '2x3', '2x4']

Now, to access individual element, we first access the outer list, and then access inner:

In [26]:
order_matrix_3x5[2][4]

'2x4'

Dictionaries map keys to values (keys are on the left side, values are on the right):

In [27]:
vocabulary = {
    'cat': 'кошка',
    'dog': 'собака',
    'mouse': 'мышь'
}

vocabulary

{'cat': 'кошка', 'dog': 'собака', 'mouse': 'мышь'}

Another common syntax to create a dictionary (it is called "using keywords"):

In [28]:
family = dict(me="Yuri", mom="Tanya", dad="Viktor")

family

{'dad': 'Viktor', 'me': 'Yuri', 'mom': 'Tanya'}

You can access element of dictionary just like you access list elements:

In [29]:
vocabulary['dog']

'собака'

Another way to access element that doesn't produce error if there're no such key, but returns default argument instead:

In [30]:
vocabulary.get("cat", "I don't know this word")

'кошка'

If key doesn't exist:

In [31]:
vocabulary.get("bird", "I don't know this word")

"I don't know this word"

If you want to create dictionaries programmatically, you can use comprehensions too. Here I create a mapping of words to their lengths.

In [32]:
word_lengths = {k: len(k) for k in ['cat', 'elephant', 'fish']}

Now I can quickly get the length of a string (but only if it was precomputed above):

In [33]:
word_lengths['elephant']

8

Sets are lists, but you can't put there an element if it's already there. No errors will be produced, it just won't accept.

In [34]:
# notice that order is not guaranteed
set([1, 1, 1, 1, 1, 0])

{0, 1}

Shorter syntax:

In [35]:
{1, 1, 1, 1, 1, 0}

{0, 1}

Sets are useful to for example find intersections in list items. In this example we have two independend lists. One contains list of animals in Riga zoo, and other contains names of birds I know. Let's find out what birds live in Riga zoo.

In [36]:
zoo = ["ape", "elephant", "strauss", "tiger", "wolf"]
birds = ["strauss", "pinguin", "pigeon"]

# result is animals in zoo AND in list of birds
set(zoo) & set(birds)

{'strauss'}

Here we convert both lists to sets, find intersection which is another set. We can convert it to list again using list()